.root{
	-fx-text-fill: white;
	-fx-background-color: #003d35;
}

#myMenuBar{
	-fx-background-color: #225e57;
	-fx-font-size: 14px;
	-fx-border-width: 1 0;
  	-fx-border-color: white;
}

.context-menu {
    -fx-background-color: #225e57;
}

#myMenu{
	-fx-background-color: #445e57;
	-fx-font-weight: bold;
	-fx-border-width: 0 1;
  	-fx-border-color: white;
}

#menuItem{
	-fx-background-color: #225e57;
	-fx-font-size: 14px;
	-fx-border-width: 0 0 1 0;
  	-fx-border-color: white;
}

#menuItem:hover{
	-fx-background-color: #32CD32;
}


#popup{
	-fx-background-color: #F0FFFF;
	-fx-border-color: grey;
	-fx-border-width: 5px;
}

#okButton{
	-fx-background-color: #6495ED;
	-fx-text-fill: white;
}

#popLabel{
	-fx-text-alignment: center;
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-padding: 30px;
}

#popLabe2{
	-fx-text-alignment: left ;
	-fx-font-size: 15px;
	-fx-padding: 20px;
}

.myLabel{
	-fx-text-fill: #F0F8FF;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.button{
	-fx-background-color: #00ffdd;
	-fx-text-fill:  #00ffdd;
}

.button:hover{
	-fx-background-color: #00ddbb;
	-fx-text-fill:  #00ddbb;
}

.ship{
	-fx-background-color: purple;
	-fx-text-fill: purple;
}

#MISSED{
	-fx-background-color: orange;
	-fx-text-fill: orange;
}

#ENEMYHIT{
	-fx-background-color: red;
	-fx-text-fill: red;
}

#HIT{
	-fx-background-color: red;
	-fx-text-fill: red;
}

#EMPTY{
	-fx-background-color: #00ffdd;
	-fx-text-fill:  #00ffdd;
}

#ENEMYEMPTY{
	-fx-background-color: #00ffdd;
	-fx-text-fill:  #00ffdd;
}


